# Frontend
VITE_API_URL=http://localhost:3000/api

# Backend
PORT=3000
FRONTEND_URL=http://localhost:5173
TEAM_DB_URL=libsql://your-database-url
TEAM_DB_AUTH_TOKEN=your-auth-token
STRIPE_SECRET_KEY=sk_test_...
STRIPE_WEBHOOK_SECRET=whsec_...
# SUPABASE_URL=...
# SUPABASE_ANON_KEY=...
